---
import { withBase } from "../../utils/paths";

const target = withBase("/zh/equipment/");
---
<html lang="zh-Hant">
  <head><meta charset="utf-8" /><meta http-equiv="refresh" content={`0;url=${target}`} /><title>重新導向</title></head>
  <body><a href={target}>製程能力</a></body>
</html>
