---
import { withBase } from "../utils/paths";

const target = withBase("/en/quality/");
---
<html lang="en">
  <head><meta charset="utf-8" /><meta http-equiv="refresh" content={`0;url=${target}`} /><title>Redirecting</title></head>
  <body><a href={target}>Quality</a></body>
</html>
